body
{
  background-image: url("../pictures/Theback4.jpg");
    background-size: cover; 
    background-position:center center;
    transform: scale(1);
    padding: 0;
    scroll-behavior: smooth;
    background-attachment: fixed;
    position: relative;

}

  form {
    padding-top: 100px;
    padding-bottom: auto;
  }

  fieldset {
    background-color: rgba(158, 126, 99, 0.397);
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    border-radius: 30px;
    min-width:200px;
    max-width: 380px;
    max-height: 780px;
    justify-content: space-around;
    position: relative;
    border-width: 1px;
    box-shadow: 3px 4px 23px rgb(192, 186, 186);
  }

  .top-bar {
    top: -1px;
    left: 0px;
    background-color:rgba(20, 16, 16, 0.932);
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    text-align: center;
    border-radius: 30px 30px 0 0;
    width: 100%;
    background-clip: padding-box;
    position: absolute;
    padding: 30px 0px;
    color:white;
  }

  .contact-form {
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  input {
    border-radius: 6px;
    margin-top: 30px;
    height: 30px;
    max-width:300px;
    text-align: start;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px solid;
    transition: border-rgb(255, 254, 254) 0.3s ease;
    font-size: 19px;
    margin-block-end: 10px;
  }

  input:focus {
    border-color: rgb(255, 255, 255);
  }

  i {
    color: rgb(0, 0, 0);
    border-width: 1px;
    padding: 15px;
    border-radius:333px;
    border-style: solid;
    border-color: rgb(206, 187, 187);;
  }
  #facebook
  {
    justify-content: center;
    padding-left:18px;
    border-radius: 36px;
    width:18px;
    transition: 0.3s;
    background-color:rgb(0, 132, 255);
    color:white;
    
  }
  #facebook:hover{
    background-color:white;
    color:rgb(0, 132, 255);
  }
  #twitter
  {
    justify-content: center;
    padding-left:18px;
    padding-right:19px;
    border-radius: 36px;
    width:18px;
    transition: 0.3s;
    background-color:rgb(0, 132, 255);
    color:white;
  }
  #twitter:hover{
    background-color:white;
    color:rgb(0, 132, 255);
  }
  #google
  {
    justify-content: center;
    padding-left:15px;
    padding-right:19px;
    border-radius: 36px;
    width:18px;
    transition: 0.3s;
    background-color:rgb(255, 76, 76);
    color:rgb(255, 255, 255);
  }
  #google:hover{
    color:rgb(255, 76, 76);
    background-color: white;
  }

  button {
    margin-top: 20px;
    height: 40px;
    border-radius: 13px;
    background-color: rgb(0, 132, 255);
    color: white;
    transition: 0.3s;
    width: 262px;
    font-size: 23px;
    margin: 25px;
    cursor: pointer;
    border-width: 1px;;
  }

  button:hover {
    color: rgb(0, 132, 255);
    background-color: white;
  }

  footer {
    background-color: rgba(20, 16, 16, 0.932);
    padding-top: 12px;
    padding-bottom: 10px;
    flex-flow: row wrap;
    text-align: center;
    height: 35px;
    font-size: 20px;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: -20px;
    margin-right: -10px;;
  }

  @media screen and (max-width: 768px) {
    footer {
      font-size: 20px;
    }
  }
  .navigation-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-flow: row wrap;
  }

  .menu {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;
    
  }

  .menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
  }

  .menu {
    display: flex;
    justify-content: end;
    flex-flow: row wrap;
    padding-bottom: 10px;
  }

  a {
    color: white;
    margin: 0 13px;
    transition: 0.4s;
    text-decoration: none;
  }
  a:hover{
    color:black;
    transform: scale(1.1);
    font-size: 35px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons i {
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: 10px;
  }

  .social-icons i:hover {
    color: rgb(0, 132, 255);
  }
  p{
    color:white;
  }